//  COMPONENT: (Rules.js)  =>  LIST OF POKER HANDS
$HIGHCARD: rgb(0, 122, 175);
$LIGHTHOUSE2: rgba(0, 122, 175, 0.85);
$TWOPAIR: red;
$THREEKIND: green;
$STRAIGHT: navy;
$FLUSH: orangered;
$FULLHOUSE: purple;
$FOURKIND: teal;
$STRAIGHTFLUSH: black;
$ROYALFLUSH: rgb(58, 206, 179);
$LIGHTHOUSE: rgb(0, 122, 175);
$CARPET2: rgba(33, 66, 57, 0.85);
$CARPET: rgb(28, 61, 52);
$NIGHTHAWK: rgb(18, 18, 18);
$CHARCOAL: rgb(25, 33, 37);
$CHARCOAL2: rgb(26, 46, 56);
$STATUS: rgb(0, 142, 195);
$EFFYES: rgb(0, 255, 153);
$HAZE: rgb(31, 41, 46);