@import '../../../sass/styles.scss';

.action-modal-master {
    width: 100%;
    height: 85%;
    background-color: rgba(10, 10, 10, 0.85);
    background-color: $CHARCOAL;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    line-height: 1em;
}

.room-title-container {
    width: 50%;
    color: silver;
    text-align: center;    
}



#kicker {
    color: silver;
    font-weight: 100;
}

#poker-room-title {
    color: $LIGHTHOUSE;
    line-height: 0em;
}


.profile-menu {
    width: 25%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: silver;
    line-height: 0em;
    font-size: 12px;
}

.btn-menu {
    width: 25%;
    height: 75%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#action-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;    
    box-shadow: 0px 0px 5px 1px silver;
    padding: 1%;
    position: relative;
}

#action-pic:hover {
    cursor: pointer;
}



.action-btns {
    font-size: x-small;
    width: 50%;
    background-color: rgba(10, 10, 10, 0);
    color: rgb(75, 75, 75);
    color: silver;
    font-weight: bold;
    border: none;
    border-radius: 5px;      
    padding-top: 10px;
    padding-bottom: 10px;
}

.action-btns:hover {
    cursor: pointer;
    color: silver;
    background-color: rgba(0, 0, 0, 0.75);
}