@import '../../../sass/styles.scss';

#dealer-btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 45s linear infinite;
    border-radius: 50%;
}

#fancy-Btn {
    width: 25px;
    height: 25px;
    color: rgb(100, 100, 100);
}

#dealer-blinds {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fancy-blinds {
    width: 25px;
    height: 25px;
}

@keyframes spin {
    100% {transform: rotate(360deg);}
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}