@import '../../../sass/styles.scss';

.slide-rule {
    width: 50%;
    height: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.modal-counter {
    width: 50%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0em;
    padding-top: 5px;
    padding-bottom: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#ticker-btn-increment {
    background-color: transparent;
    border: none;
    border-radius: 50px;
}

#ticker {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: $HAZE;
    color: $ROYALFLUSH;
    box-shadow: 1px 1px 15px 0px rgba(30, 30, 30, 0.75);
}

#ticker:hover {
    cursor: pointer;
}

#ticker-btn-reset {
    line-height: 1em;
    position: relative;
    background-color: $HAZE;
    box-shadow: 1px 1px 15px 0px rgba(30, 30, 30, 0.75);
    color: silver;
    border-radius: 50px;
    width: max-content;
    height: 30px;
    padding: 3px 10px 3px 10px;
}

#ticker-btn {
    line-height: 1em;
    position: relative;
    background-color: $HAZE;
    box-shadow: 1px 1px 15px 0px rgba(30, 30, 30, 0.75);
    color: silver;
    border-radius: 50px;
    width: 20%;
    height: 30px;
    padding: 3px 10px 3px 10px;
}

#ticker-btn-reset:hover {
    cursor: pointer;
    background-color: $CARPET;
    background-color: rgb(100, 40, 40);
    color: whitesmoke;
}

#ticker-btn:hover {
    cursor: pointer;
    background-color: rgb(50, 50, 50);
    background-color: $CARPET;
    color: whitesmoke;
}

.counter-parent {
    width: 100%;
    height: 150%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0em;
    background-color: $CHARCOAL;
    border-radius: 20px;
    box-shadow: inset 0px 0px 5px 1px rgba(10, 10, 10, 1);
    margin-bottom: 20px;
    padding: 10px;
}

.meter-actions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
    padding-top: 10px;
}

#whos-turn {
    background-color: $CHARCOAL2;
    border-radius: 5px;
    line-height: 2em;
    width: 75%;
    box-shadow: 0px 0px 10px 1px $CHARCOAL;
}

@keyframes pulse {
	0% {
		transform: scale(1);
        box-shadow: 0 0 2px 1px silver;
	}

	70% {
		transform: scale(1);
        box-shadow: 0 0 10px 2px silver;
	}

	100% {
		transform: scale(1);
        box-shadow: 0 0 2px 1px silver;
	}
}