@import '../../../sass/styles.scss';

.game-master {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;    
    // background-image: radial-gradient(rgb(99, 99, 99), rgb(40, 40, 40), rgb(10, 10, 10));
    background-image: linear-gradient(to right, $CHARCOAL, rgb(10, 15, 15));
    // background-image: url('../../../assets/black-paisely.jpg');
    background-color: $CHARCOAL;
    background-repeat: no-repeat;
    background-position: center;
}


.felt-table {
    width: 85%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: silver;
    font-weight: bold;
    font-size: xx-large;
    background-color: $CARPET;
    border-radius: 50%;
    // box-shadow: inset 4px -4px 20px 5px $CHARCOAL;
    box-shadow: -2px 5px 5px 10px $HAZE;
    border: 5px dotted $HAZE;
}

.pocket {
    font-weight: bold;
}

#deck-of-cards {
    width: 15%;
    height: 75%;
    border-radius: 10px;
}

#game-divider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#WSOP {
    color: rgb(0, 122, 175);
}

#card-master {
    width: 100%;
    height: 100%;
    background-color: black;
}

.modal-wrapper {
    width: 90%;
    height: 25%;
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: flex-start;
}

.hierarchy-tree {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 15%;
    height: 75%;
}

#player-list {
    width: 15%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border-radius: 20px;
}

.player-box {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    color: silver;
    padding-bottom: 5px;
}

.pocket-divider {
    width: 90%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.button-container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meter-box {
    width: 85%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-table {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#player-box-name {
    text-align: center;
}

.show-down {
    width: 100%;
    color: $CARPET;
    font-weight: bold;
}

#action-feed {
    display: flex;
}

.player-status {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
}

.player-status-active {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    // border-top: 1px solid silver;
    // border-radius: 50px;
    animation: pulse 2.5s ease-out infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
        box-shadow: 0 0 2px 1px rgba(100, 100, 100, 0.7);
        // border
	}

	70% {
		transform: scale(.95);
        box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0);
        // border
	}

	100% {
		transform: scale(0.95);
        box-shadow: 0 0 2px 1px rgba(100, 100, 100, 0);
        // border
	}
}