@import '../../../sass/styles.scss';

.game-master {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(5, 5, 5, 0.5);
    background-repeat: no-repeat;
    background-position: center;
}


.felt-table {
    width: 85%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: silver;
    font-weight: bold;
    font-size: xx-large;
    background-color: $CARPET;
    border-radius: 50%;
    box-shadow: -2px 5px 5px 10px $HAZE;
    border: 5px dotted $HAZE;
}

.pocket {
    font-weight: bold;
}

#deck-of-cards {
    width: 15%;
    height: 75%;
    border-radius: 10px;
}

#game-divider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#WSOP {
    color: rgb(0, 122, 175);
}

#card-master {
    width: 100%;
    height: 100%;
    background-color: black;
}

.modal-wrapper {
    width: 90%;
    height: 25%;
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: flex-start;
}

.hierarchy-tree {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    height: 85%;
}

#player-list {
    width: 15%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: 20px;
}

.player-box {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    color: silver;
    margin-bottom: 5px;
}

.pocket-divider {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
    padding-left: 10px;
}

.button-container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meter-box {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-table {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#player-box-name {
    text-align: center;
}

.show-down {
    width: 100%;
    color: $CARPET;
    font-weight: bold;
}

#action-feed {
    display: flex;
}

.player-status {
    width: 75%;
    line-height: 0em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    border-left: 5px solid rgba(192, 192, 192, 0);
    border-right: 5px solid rgba(192, 192, 192, 0);
}

.player-status-active {
    width: 75%;
    line-height: 0em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
    animation: pulseOne 3s ease-out infinite;
}

.player-status-active-w {
    width: 75%;
    line-height: 0em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
    border-left: 5px solid goldenrod;
    border-right: 5px solid goldenrod;
    animation: pulseWin 0.3s;
    animation-iteration-count: 5;
}

@keyframes pulseOne {
	0% {
		transform: scale(1);        
        border-left: 5px solid $HAZE;
        border-right: 5px solid $HAZE;
	}

	70% {
		transform: scale(1);        
        border-left: 5px solid silver;
        border-right: 5px solid silver;
	}

	100% {
		transform: scale(1);        
        border-left: 5px solid $HAZE;
        border-right: 5px solid $HAZE;
	}
}

@keyframes pulseWin {
	0% {
		transform: scale(1);
        border-left: 5px solid $HAZE;  
        border-right: 5px solid $HAZE;  
	}

	70% {
		transform: scale(1);
        border-left: 5px solid goldenrod;
        border-right: 5px solid goldenrod;
	}

	100% {
		transform: scale(1);
        border-left: 5px solid $HAZE;
        border-right: 5px solid $HAZE;
	}
}