.sub-head-master {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
}

.sub-btns {
    border: none;
    font-size: 12px;
    font-weight: bold;
    color: black;
    background-color: rgba(0, 0, 0, 0);
}

.sub-btns:hover {
    cursor: pointer;
    color: rgb(0, 122, 175);
}

#nav-links {
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#poker-btn {
    font-weight: bold;
}

#launch-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#launch-link:hover {
    cursor: pointer;
    color: rgb(0, 122, 175);
}