.Auth-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-weight: bold;
    background-image: url('../../assets/black-paisely.jpg');
}

#title {
    color: silver;
    color: rgba(255, 68, 0, 0.891);
    color: rgb(0, 122, 175);
    font-size: 38px;
}

.auth-body {
    width: 100%;
    height: 60%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: rgba(255, 68, 0, 0.891);
    box-shadow: 5px 0px 25px 5px rgba(0, 122, 175, 0.75);
    box-shadow: 5px 0px 25px 5px rgba(192, 192, 192, 0.802);
    color: silver;
    color: white;
    background-color: rgba(8, 8, 8, 0.75);
    // background-image: url('../../assets/black-paisely.jpg');
}

.auth-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.submit {
    width: 15%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: silver;
    border-radius: 50px;
    background-color: rgba(50, 50, 50, 0.686);
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.submit:hover {
    cursor: pointer;
    background-color: rgb(0, 122, 175);
}

.submit-btns-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-input-divider {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 200px;
}

.form {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.auth-input-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#auth-title {
    line-height: 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: silver;
    color: rgba(88, 88, 88, 0.686);
}

#logo {
    width: 100px;
    height: 100px;
    color: rgba(88, 88, 88, 0.686);
}

#auth-input {
    width: 60%;
    margin-left: 20px;
    border: 2px solid white;
    line-height: 1em;
}

.input-wall {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1em;
}

.auth-btns:hover {
    cursor: pointer;
    background-color: rgb(114, 114, 114);
    background-color: rgb(0, 122, 175);
}

#auth-btn-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-btns {
    width: 30%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: silver;
    border-radius: 50px;
    background-color: rgba(50, 50, 50, 0.686);
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#btn-wall {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#btn-padding {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}