@import '../../sass/styles.scss';

.Marquee-master {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: silver;
    font-size: small;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: $CHARCOAL;
    box-shadow: inset 0px 0px 5px 1px rgba(10, 10, 10, 1);
    border-radius: 20px;
    position: relative;
}

.marquee-header {
    height: 25%;
    width: 100%;
    border-radius: 10px;
    border-top: 5px solid $CHARCOAL2;
    border-bottom: 5px solid $CHARCOAL2;
    background-color: rgba(0, 0, 0, 0.5);
    color: silver;
    margin-bottom: 10px;
}

.marquee-header-w {
    height: 25%;
    width: 100%;
    border-radius: 10px;
    border-top: 5px solid goldenrod;
    border-bottom: 5px solid goldenrod;
    background-color: rgba(0, 0, 0, 0.5);
    color: silver;
    margin-bottom: 10px;
}

#winner-bucket {
    height: 10%;
    text-align: left;
    font-weight: bold;
    font-size: large;
}

