@import '../../sass/styles.scss';

.rules-master {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: whitesmoke;
}

.rules-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 2%;
    // box-shadow: 0px 0px 5px 1px silver;
    background-color: black;
}

.show-stopper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-bottom: 20px;
    // margin-top: 5px;
}

.rules-list-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 1em;
}

#rules-title {
    text-align: center;
    line-height: 1em;
    margin-top: 50px;
}

.rules-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0em;
}

#modal-icons {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    // padding: 1px;
    padding-left: 10px;
}

#icons {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    // padding: 1px;
    color: rgb(228, 228, 228);
    padding-left: 10px;
}
