@import '../../sass/styles.scss';

.Dashboard-master {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('../../assets/black-paisely.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    // font-size: 14px;
}

#dash-header {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px rgba(75, 75, 75, 0.75);
    // margin-top: 50px;
}

.dash-container {
    width: 100%;
    height: 10%;
}

#dash-stats {
    width: 35%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}

.btn-container {
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
}

#dash-btn {
    width: 75%;
    height: 75px;
    border: none;
    border-radius: 5px;
    color: silver;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(30, 30, 30);
    margin-top: 20px;
}

#dash-btn:hover {
    // width: 100%;
    cursor: pointer;
    color: white;
    // color: rgb(0, 122, 175);
    background-color: rgba(75, 75, 75, .75);
}

.main-logo {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.main-logo-container {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: white;
}

#h-logo {
    width: 50%;
    height: 50px;
    color: rgba(255, 68, 0, 0.891);
    color: rgb(0, 122, 175);
    color: rgba(88, 88, 88, 0.686);
}

#h-logo:hover {
    /* cursor: pointer; */
    color: rgba(150, 150, 150, 0.75);
}

#lighthouse {
    color: rgb(0, 122, 175);
    line-height: 0em;
    
}

#profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    padding: 1%;
}

#profile-pic:hover {
    cursor: pointer;
}

#img-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#save-btn:hover {
    cursor: pointer;
}

#pic-input {
    width: 75%;
}

.dash-banner {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}